*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
}
ul{
    list-style-type: none;
}
#content{
    flex: 1;
    display: flex;
    flex-direction: column;
}

#content-info{
    flex: 1;
    display: flex;
}

header{
    background: royalblue;
    padding: 5px 10px;
    color: white;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

header ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
    align-items: center;
    
}

header #logo{
    width: 70px;
    height: auto;
}

#project-list{
    flex: 1;
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    resize: horizontal;
    list-style-type: none;
    transition: all 0.4s linear;
    animation: fadeIn 1s;
    overflow-y: auto;
    height: 100vh;
}

#project-list li{
    transition: background 0.4s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 5px;
    border-radius: 5px;
    
}

#project-list li:hover{
    background: lightgrey;
}

#project-list.hide{
    display: none;
}

li i{
    padding: 5px;
    border-radius: 3px;
}


#project-info{
    flex: 3;
}

#todos{
    flex: 1;
}
.modal{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.611);
}
.inner-modal{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    background:whitesmoke;
    width: clamp(200px, 50%, 600px);
    height: 60vh;
}
.inner-modal > div{
    padding: 8px;
    
}

.modal-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-info > div{
    flex: 1;
}

.modal-info > div > input, textarea{
    width: 100%;
}
input{
    border: none;
    background: lightgray;
    border-radius: 95px;
    padding: 5px;
}
.inner-modal > .modal-title, .modal-buttons{
    display: flex;
    justify-content: center;  
    gap: 10px;
}
.inner-modal > .modal-title, .modal-info, .modal-input-errors{
    border-bottom: thin solid lightgrey;
}
.inner-modal > .modal-info{
    flex: 1;
    overflow: auto;
}
.inner-modal > .modal-info > div > *{
    margin-bottom: 5px;
}

.modal-buttons > button{
    width: 75px;
    padding: 5px 8px;
    
}
.btn{
    text-align: center;
    border-radius: 100px;
    border: none;
    transition: all 0.4s ease;
}
.btn:disabled{
    opacity: 0.5;
}
.cancel-btn{
    color: white;
    background: red;
}

.conf-btn{
    color: darkblue;
    background: skyblue;
}

i{
    transition: all 0.4s ease;
}
i:hover{
    filter: invert(1);
}
